<div class="list-group">

{{# each products }}
  <a href="/info?id={{_id}}" class="list-group-item">
    <h4 class="list-group-item-heading">{{title}}</h4>
    <p class="list-group-item-text">{{description}}</p>
  </a>
{{/each}}

</div>

{{# each products}}
<div class="media">
  <div class="media-left">
    <a href="/info?id{{_id}}=">
      <img class="media-object" src="http://placehold.it/64x64" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">{{title}}</h4>
    {{description}}
  </div>
</div>
{{/each}}